# Ignore virtual environment
.venv/

# Ignore image output
.Images/CroppedBalls/

# Ignore __pycache__ everywhere (no need to specify subpaths manually)
__pycache__/


# Optional: ignore compiled Python files
*.py[cod]

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp

*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.mp3
*.wav
*.ogg

