# Ignore virtual environment
.venv/

# Ignore image output
.Images/CroppedBalls/

# Ignore __pycache__ everywhere (no need to specify subpaths manually)
__pycache__/


# Optional: ignore compiled Python files
*.py[cod]
